{% extends 'base.html' %}
{% load tz %}
{% load administrator_extras %}

{% block page_title %}
    Motus | {{ child.first_name }}{{ child.last_name }}
{% endblock %}

{% block content %}

    <style>

        .modal-dialog {
            max-width: 800px;
            margin: 30px auto;
        }

        .modal-body {
            position: relative;
            padding: 0px;
        }

        .close {
            position: absolute;
            right: -30px;
            top: 0;
            z-index: 999;
            font-size: 2rem;
            font-weight: normal;
            color: #fff;
            opacity: 1;
        }
    </style>
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "administrator:index" %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url "administrator:children" %}">Children</a></li>
                        <li class="breadcrumb-item active"
                            aria-current="page">Child Detail
                        </li>
                    </ol>
                </nav>
                <div class="col-lg-12">
                    <h1 class="page-header"><a href="{{ child.picture }}" target="_blank"><img
                            src="{{ child.picture }}" class="img-rounded" width="50"
                            height="50"></a>&nbsp;&nbsp{{ child.first_name }} {{ child.last_name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user-md fa-fw"></i> Child Profile
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <center>
                                <b>Age: </b>{{ child.age }} |
                                <b>Active: </b>{{ child.is_active }} |
                                {% if child.last_login_time %}
                                    <b>Last Login Time: </b>{{ child.last_login_time|timezone:user_tz_name|date }}
                                    at {{ child.last_login_time|timezone:user_tz_name|time }}
                                {% else %}
                                    <b>Last Login Time: </b>{{ child.first_name }} has not logged into the Motus Child
                                    app.
                                {% endif %}
                            </center>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user fa-fw"></i> Parents
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {% for par in parent %}
                                {% if forloop.first %}
                                    <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Parent</th>
                                        <th scope="col">View</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                {% endif %}
                            <tr>
                                <td>
                                    <a href="{{ par.picture }}" target="_blank"><img
                                            src="{{ par.picture }}" class="img-rounded" width="30"
                                            height="30"></a>&nbsp;&nbsp{{ par.profile.full_name }}
                                </td>
                                <td>
                                    <form action="{% url "administrator:parent_detail" id=par.id %}"
                                          method="post"
                                          class="d-inline">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ par.id }}">
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            View
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </tbody>
                                </table>
                            {% endif %}
                            {% empty %}
                                <div class="container-fluid text-center">
                                    Error
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-user-md fa-fw"></i> Mental Health Professional
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {% for prof in professional %}
                                {% if forloop.first %}
                                    <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Mental Health Professional</th>
                                        <th scope="col">View</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                {% endif %}
                            <tr>
                                <td>
                                    <a href="{{ prof.picture }}" target="_blank"><img src="{{ prof.picture }}"
                                                                                      class="img-rounded"
                                                                                      width="30"
                                                                                      height="30"></a>&nbsp;&nbsp{{ prof.profile.full_name }}
                                </td>
                                <td>
                                    <form action="{% url "administrator:professional_detail" id=prof.id %}"
                                          method="post"
                                          class="d-inline">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ prof.id }}">
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            View
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% if forloop.last %}
                                </tbody>
                                </table>
                            {% endif %}
                            {% empty %}
                                <div class="container-fluid text-center">
                                    No active mental health professionals available.
                                </div>
                            {% endfor %}
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-video-camera fa-fw"></i> Assigned Lessons
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {% for lesson in lessons %}
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse"
                                                   href="#test{{ lesson.lesson_id }}">{{ lesson.lesson.lesson_name }} -
                                                    Completed: {{ lesson.completed }}</a>
                                            </h4>
                                        </div>
                                        <div id="test{{ lesson.lesson_id }}" class="panel-collapse collapse">
                                            <div class="list-group">
                                                {% for act_vid in assigned_videos %}
                                                    {% if act_vid.assigned_lesson.lesson_id == lesson.lesson_id %}
                                                        <a data-toggle="modal"
                                                           data-src="https://www.youtube.com/embed/{{ act_vid.video.youtube_id }}"
                                                           data-target="#myModal" class="list-group-item">
                                                            <i class="fa fa-file-video-o fa-fw"></i>{{ act_vid.video.video_name }}
                                                            <span class="pull-right text-muted small">
                                                                {% if act_vid.reaction == 'angry' %}
                                                                    😡 {{ act_vid.reaction }}
                                                                {% elif act_vid.reaction == 'love' %}
                                                                    😍 {{ act_vid.reaction }}
                                                                {% elif act_vid.reaction == 'sad' %}
                                                                    😢 {{ act_vid.reaction }}
                                                                {% elif act_vid.reaction == 'relaxed' %}
                                                                    ☺️ {{ act_vid.reaction }}
                                                                {% elif act_vid.reaction == 'surprised' %}
                                                                    😯 {{ act_vid.reaction }}
                                                                {% else %}
                                                                    <span class="pull-right text-muted small">
                                                                    <em>No reaction to this video</em>
                                                                {% endif %}

                                                                </span>
                                                        </a>
                                                    {% endif %}
                                                {% empty %}
                                                    <div class="container-fluid text-center">
                                                        {{ child.first_name }} has no favourite videos.
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="container-fluid text-center">
                                    {{ child.first_name }} has no assigned lessons.
                                </div>
                            {% endfor %}
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Progress
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            Assigned Lessons Completed Progress
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar"
                                     style="width: {{ percent }}%;"
                                     aria-valuenow="{{ percent }}"
                                     aria-valuemin="0" aria-valuemax="100">{{ percent }}%
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-heart fa-fw"></i> Favourite Videos
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                {% for vid in videos %}
                                    <a data-toggle="modal"
                                       data-src="https://www.youtube.com/embed/{{ vid.video.youtube_id }}"
                                       data-target="#myModal" class="list-group-item">
                                        <i class="fa fa-file-video-o fa-fw"></i>{{ vid.video.video_name }}
                                        <span class="pull-right text-muted small">
                                            {% if avid.reaction == 'angry' %}
                                                😡 {{ act_vid.reaction }}
                                            {% elif vid.reaction == 'love' %}
                                                😍 {{ act_vid.reaction }}
                                            {% elif vid.reaction == 'sad' %}
                                                😢 {{ act_vid.reaction }}
                                            {% elif vid.reaction == 'relaxed' %}
                                                ☺️ {{ act_vid.reaction }}
                                            {% elif vid.reaction == 'surprised' %}
                                                😯 {{ act_vid.reaction }}
                                            {% else %}
                                                <span class="pull-right text-muted small">
                                                <em>No reaction to this video</em>
                                            {% endif %}

                                            </span>
                                    </a>
                                {% empty %}
                                    <div class="container-fluid text-center">
                                        {{ child.first_name }} has no favourite videos.
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-picture-o fa-fw"></i> {{ child.first_name }}'s Photo
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <center><img src="{{ child.picture }}" width="200"
                                         height="200"></center>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
        </div>
    </div>

    <!-- Taken from https://codepen.io/JacobLett/pen/xqpEYE -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        //Taken from https://codepen.io/JacobLett/pen/xqpEYE

        $(document).ready(function () {
            let $videoSrc;
            $('.list-group-item').click(function () {
                $videoSrc = $(this).data("src");
            });
            console.log($videoSrc);
            $('#myModal').on('shown.bs.modal', function (e) {
                console.log($videoSrc);

                $("#video").attr('src', $videoSrc);
            });
            $('#myModal').on('hide.bs.modal', function (e) {
                // a poor man's stop video
                $("#video").attr('src', $videoSrc);
            })
        });
    </script>


{% endblock %}