{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block page_title %}
    Motus | Upload Resources
{% endblock %}


{% block content %}
    <style>
        label {
            display: inline-block;
            text-align: right;
        }

        textarea.form-control {
            height: 150px;
        }

    </style>
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "administrator:index" %}">Home</a></li>
                        <li class="breadcrumb-item active"
                            aria-current="page">Upload Resources
                        </li>
                    </ol>
                </nav>
                <div class="col-lg-12">
                    <h1 class="page-header">Resources</h1>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Upload Resources
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <form method="POST" class="form-horizontal"
                                      enctype="multipart/form-data">{% csrf_token %}
                                    {{ upload_formset.management_form }}
                                    {% for upload_form in upload_formset.forms %}
                                        <div class="table>">
                                            <div class="upload-formset">
                                                {{ upload_form.non_field_errors }}
                                                {{ upload_form.field_errors }}
                                                <div class="row">
                                                    <div class="col-xs-24">
                                                        <label class="col-sm-4 col-form-label">Resource Name <span
                                                                class="text-danger">*</span></label>
                                                        <div class="col-sm-6">
                                                            {{ upload_form.name }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-24">
                                                        <label class="col-sm-4 col-form-label">Teaser<span
                                                                class="text-danger">*</span></label>
                                                        <div class="col-sm-6">
                                                            {{ upload_form.teaser }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-24">
                                                        <label class="col-sm-4 col-form-label">Pdf File<span
                                                                class="text-danger">*</span></label>
                                                        <div class="col-sm-6">
                                                            {{ upload_form.pdf_file }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-24">
                                                        <label class="col-sm-4 col-form-label">Picture<span
                                                                class="text-danger">*</span></label>
                                                        <div class="col-sm-6">
                                                            {{ upload_form.picture_img }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-24">
                                                        <label class="col-sm-4 col-form-label">Resource Type <span
                                                                class="text-danger">*</span></label>
                                                        <div class="col-sm-6">
                                                            {{ upload_form.resource_type }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-24">
                                                        <label class="col-sm-4 col-form-label">Active <span
                                                                class="text-danger">*</span></label>
                                                        <div class="col-sm-6">
                                                            {{ upload_form.active }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                    <button type="submit" class="save btn btn-default">Save</button>
                                </form>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                    <!-- /.col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bell fa-fw"></i> Recent Academic Resources
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    {% for res in academic %}
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-file-pdf-o fa-fw"></i>{{ res.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                                <!-- /.list-group -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bell fa-fw"></i> Recent Parental Resources
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    {% for res in parental %}
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-file-pdf-o fa-fw"></i>{{ res.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                                <!-- /.list-group -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                    <!-- /.col-lg-4 -->

                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $('.upload-formset').formset({
            addText: 'Add',
            deleteText: 'Remove',
            prefix: 'form'
        });
    </script>


{% endblock %}